* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-transform: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("images/cropped-3840-2160-1243956.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.types {
    list-style: none;
}

.cont {
    height: auto;
    padding: .5rem;
    margin: 1rem auto;
    max-width: 992px;
    border-radius: 1rem;
}

.pokemonn .header {
    position: relative;
    top: 50px;
}

.header_left {
    display: flex;
    color: white;
    align-items: center;
    padding: 1rem;
}

.header_left .name {
    text-transform: capitalize;
    font-size: 25px;
    padding-left: 1rem;
}

.header .number {
    color: white;
    padding-right: 2rem;
    font-size: 25px;
}

.detalhe {
    background-color: white;
    height: 460px;
    border-radius: 1rem;
}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.detail .img img{
    margin: -50px;
    width: 20rem;
    position: relative;
    top: 50px;
}

.detail .left,.right{
    position: relative;
    top: 100px;
}

.detalhe .types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 50px 0px;
}

.types .type{
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 3% 0;
    font-size: .800rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.types li {
    padding: 1rem;
}

.types ol {
    margin-left: 50px;
}

.detalhe ol {
    margin: 50px 50px 10px 50px;
    padding-left: 0px;
}

.detalhe .specs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
    gap: 24px;
    height: auto;
}

.specs p {
    text-align: center;
    font-size: 14px;
}

.specs_weight,.specs_height{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

ol.ol_moves {
    list-style: none;
    margin: 0px;
    text-align: center;
}

.detalhe .specs {
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 25px;
}

.specs3 {
    text-transform: capitalize;
    padding-top: 12px;
}

.detalhe .about {
    text-align: center;
    margin: 20px;
    padding: 0px;
    font-weight: bold;
    font-size: 20px;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stats ol {
    list-style: none;
}

.stats_value ol,.stats_name ol{
    margin: 5px 20px;
}

.stats_name ol {
    font-weight: bold;
}

.stats_value li,.stats_name li {
    padding-bottom:2px;
}

.stats_name {
    text-align: right;
    font-size: 14px;
}

.stats_value {
    font-size: 14px;
    color: black;
}

.container-barra {
    width: 600px;
    margin-right: 10px;
}

.barra {
    height: 100%;
    background-color: #dbf5ce;
    height: 10px;
    margin: 8px 0px;
    border-radius: 10px;
}

.specs_height .i{
    height: 25px;
    margin-left: 10px;
}

.specs_weight .i {
    height: 18px;
}

#about {
    background: none;
}

.specs {
    color: black;
}

.divisor {
    border: 2px rgb(197, 197, 197) solid;
}