/* O sinal * no CSS significa que todos os elementos do CSS serão afetados*/
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(19, 17, 27);
}

.content {
    width: 100vw;
    height: 100%;
    padding: 1rem;
    background-color: rgba(13, 49, 58, 0.952);
}

h1 {
    color: aliceblue;
    padding: 1rem;
}

@media screen and (min-width: 992px){
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

