/* O sinal * no CSS significa que todos os elementos do CSS serão afetados*/
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("cropped-3840-2160-1243956.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.content {
    width: 100vw;
    height: auto;
    padding: .3rem;
    background-color: rgba(11, 20, 22, 0.952);
    opacity: 10;
}

h1 {
    color: aliceblue;
    padding: 1rem;
}

@media screen and (min-width: 992px){   
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

